@inject NavigationManager NavigationManager

<Div Class="row">
	@foreach (var row in Data)
	{
		<Div Class="col-12">
			<ItemDisplayRow ItemData="@row" PriceHubConnection="@hubConnection" />
		</Div>
	}
</Div>

@code {
	// -- Fields
	private HubConnection? hubConnection;

	// -- Properties
	private List<ItemData> Data { get; set; } = new();

	public void UpdateData(List<ItemData> data)
	{
		Data = new(); // full reset		
		StateHasChanged();
		Data = data;
		StateHasChanged();	
	}

	protected override async Task OnInitializedAsync()
	{
		// create hub connection
		hubConnection = new HubConnectionBuilder()
			.WithUrl(NavigationManager.ToAbsoluteUri("/hub/price"))
			.Build();

		// enable listener
        await hubConnection.StartAsync();
    }
}
