@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<SearchBox @ref="searchBox" OnSearchResultsChanged="SearchResultsChangedHandler" />
<ItemDisplay @ref="itemDisplay" />

@code {
	SearchBox searchBox;
	ItemDisplay itemDisplay;

	public void SearchResultsChangedHandler(Dictionary<Item, List<PriceEntry>> data)
		=> itemDisplay.UpdateData(data);
}